.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #007bff;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.footer { 
  position:absolute;
  bottom:0;
  width:100%;
  height:30px;   /* Height of the footer */
  text-align: right;
  right: 10px;
}

.whiteText {
  color: white;
  text-decoration: none;
}